@use '../../styles/variables.scss' as *;

.pokemon-card {
    display: flex;
    overflow: hidden;
    flex: 1 1 calc(33.33% - 40px);
    max-width: calc(33.33%);
    border-radius: 10px;
    max-height: 200px;
    padding: .5vw;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3), 0px 3px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    &:hover .pokemon-image img {
        transform: translate(-50%) scale(1.1);
    }

    @media (max-width: 1024px) {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50%);
    }

    @media (max-width: 768px) {
        flex: 1 1 calc(100% - 40px);
        max-width: 100%;
    }

    .pokemon-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 70%;

        .pokemon-name {
            font-size: $headline-font-size;
            color: $grayscale-white;
        }

        .pokemon-national-number {
            color: $grayscale-white;
            font-size: $subtitle1-font-size;
        }
    }

    .pokemon-image {
        width: 30%;
        height: 100%;
        object-fit: cover;
    }

    .pokeball-bg {
        position: absolute;
        right: 0;
        width: 35%;
        height: 100%;
        overflow: hidden;
      }
      
      .pokeball-bg::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 105%;
        transform: translate(0, -50%);
        background: rgba(255, 255, 255, 0.11);
        mask: url("/images/pokeball-transparent.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
      }

    .pokemon-types {
        display: flex;
        list-style: none;
        gap: 10px;
        align-items: center;

        .type-icon-container {
            width: 20px;
            height: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .pokemon-type {
            display: flex;
            gap: 4px;
            padding: 3px 7px;
            font-size: $subtitle1-font-size;
            border-radius: 50px;
            text-align: center;
            color: $grayscale-white;
        }
    }
}

.pokemon-card.bug {
    background-color: $type-default-bug-color;
}
.pokemon-card.dark {
    background-color: $type-default-dark-color;
}

.pokemon-card.dragon {
    background-color: $type-default-dragon-color;
}

.pokemon-card.electric {
    background-color: $type-default-electric-color;
}

.pokemon-card.fairy {
    background-color: $type-default-fairy-color;
}

.pokemon-card.fighting {
    background-color: $type-default-fighting-color;
}

.pokemon-card.fire {
    background-color: $type-default-fire-color;
}

.pokemon-card.flying {
    background-color: $type-default-flying-color;
}

.pokemon-card.ghost {
    background-color: $type-default-ghost-color;
}

.pokemon-card.normal {
    background-color: $type-default-normal-color;
}

.pokemon-card.grass {
    background-color: $type-default-grass-color;
}

.pokemon-card.ground {
    background-color: $type-default-ground-color;
}

.pokemon-card.ice {
    background-color: $type-default-ice-color;
}

.pokemon-card.poison {
    background-color: $type-default-poison-color;
}

.pokemon-card.psychic {
    background-color: $type-default-psychic-color;
}

.pokemon-card.rock {
    background-color: $type-default-rock-color;
}

.pokemon-card.steel {
    background-color: $type-default-steel-color;
}

.pokemon-card.water {
    background-color: $type-default-water-color;
}

.pokemon-type.bug {
    background-color: $type-default-bug-background;
}
.pokemon-type.dark {
    background-color: $type-default-dark-background;
}
.pokemon-type.dragon {
    background-color: $type-default-dragon-background;
}
.pokemon-type.electric {
    background-color: $type-default-electric-background;
}
.pokemon-type.fairy {
    background-color: $type-default-fairy-background;
}
.pokemon-type.fighting {
    background-color: $type-default-fighting-background;
}
.pokemon-type.fire {
    background-color: $type-default-fire-background;
}
.pokemon-type.flying {
    background-color: $type-default-flying-background;
}
.pokemon-type.ghost {
    background-color: $type-default-ghost-background;
}
.pokemon-type.normal {
    background-color: $type-default-normal-background;
}
.pokemon-type.grass {
    background-color: $type-default-grass-background;
}
.pokemon-type.ground {
    background-color: $type-default-ground-background;
}
.pokemon-type.ice {
    background-color: $type-default-ice-background;
}
.pokemon-type.poison {
    background-color: $type-default-poison-background;
}
.pokemon-type.psychic {
    background-color: $type-default-psychic-background;
}
.pokemon-type.rock {
    background-color: $type-default-rock-background;
}
.pokemon-type.steel {
    background-color: $type-default-steel-background;
}
.pokemon-type.water {
    background-color: $type-default-water-background;
}
