@use '../../styles/variables.scss' as *;

.home-title {
    font-family: Pokemon Solid, sans-serif;
    color: $title-color;
    -webkit-text-stroke: 3px $title-stroke-color;
    text-shadow: -1px 0px 0px $title-shadow-color;;

    text-align: center;
    font-size: $headline-font-size;

    @media (min-width: 768px) {
        font-size: calc($headline-font-size * 2.5);
    }
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}